@import url('./reset.css');

/* GENERAL STYLES */

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.timer-section {
  padding-top: 70px;
  background-color: rgb(255, 255, 255);
  letter-spacing: 0.04em;
  line-height: 1.5;
}

/* INPUT STYLING */

.input {
  width: 300px;
  padding: 8px 0 8px 15px;
  border-radius: 4px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  color: rgb(46, 47, 66);
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-right: 8px;
  margin-bottom: 32px;
}

/* SET BTN STYLING */

.set-timer-btn {
  padding: 8px 16px 8px 16px;
  border: none;
  border-radius: 8px;
  background: rgb(78, 117, 255);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.set-timer-btn:hover {
  background-color: rgb(108, 140, 255);
}

.set-timer-btn:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
  color: rgb(152, 152, 152);
}

/* TIMER INTERFACE STYLING */

.timer {
  display: flex;
  column-gap: 27px;
  flex-wrap: wrap;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  color: rgb(46, 47, 66);
  font-size: 40px;
  line-height: 1.2;
}

.label {
  color: rgb(46, 47, 66);
  text-transform: uppercase;
}

/* FLATPICKER CALENDER */

.flatpickr-calendar.open {
  width: 300px;
  padding: 16px;
  border-radius: 8px;
  background: rgb(245, 245, 245);
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  position: static !important;
}

.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
  width: 16px !important;
  height: 16px !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  color: rgb(51, 51, 51) !important;
  font-family: Montserrat !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 20px !important ;
  text-align: center !important;
  margin-bottom: 5px !important;
}

.flatpickr-current-month
  .flatpickr-monthDropdown-months
  .flatpickr-monthDropdown-month {
  color: rgb(51, 51, 51) !important;
  font-family: Montserrat !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 20px !important ;
  text-align: center !important;
}

span.flatpickr-weekday {
  color: rgb(46, 47, 66) !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 1.5 !important;
}

.flatpickr-day.prevMonthDay,
.flatpickr-day {
  font-size: 16px;
}

.flatpickr-day.today {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid rgb(78, 117, 255);
  background-color: transparent;
}

.flatpickr-months {
  margin-bottom: 24px;
}






